package zerrors

import (
	"errors"
	"fmt"
	"testing"

	"github.com/stretchr/testify/assert"

)

func Test{{.ErrorName}}Error(t *testing.T) {
	var err interface{}
	err = new({{.ErrorName}}Error)
	_, ok := err.({{.ErrorName}})
	assert.True(t, ok)
}

func TestThrow{{.ErrorName}}f(t *testing.T) {
	err := Throw{{.ErrorName}}f(nil, "id", "msg")
	_, ok := err.(*{{.ErrorName}}Error)
	assert.True(t, ok)
}

func TestIs{{.ErrorName}}(t *testing.T) {
	err := Throw{{.ErrorName}}(nil, "id", "msg")
	ok := Is{{.ErrorName}}(err)
	assert.True(t, ok)

	ok = errors.Is(err, &{{.ErrorName}}Error{})
	assert.True(t, ok)

	var e *{{.ErrorName}}Error
	ok = errors.As(err, &e)
	assert.True(t, ok)

	err = errors.New("I am found!")
	ok = Is{{.ErrorName}}(err)
	assert.False(t, ok)

	ok = errors.Is(err, &{{.ErrorName}}Error{})
	assert.False(t, ok)
}

func TestFindWrapped{{.ErrorName}}(t *testing.T) {
	err := Throw{{.ErrorName}}(nil, "id", "msg")
	ok := Is{{.ErrorName}}(err)
	assert.True(t, ok)

	err = fmt.Errorf("wrapped %w", err)
	ok = Is{{.ErrorName}}(err)
	assert.True(t, ok)

	ok = errors.Is(err, &{{.ErrorName}}Error{})
	assert.True(t, ok)

	var e *{{.ErrorName}}Error
	ok = errors.As(err, &e)
	assert.True(t, ok)

}

func Test{{.ErrorName}}WithRootCause(t *testing.T) {
	err := Throw{{.ErrorName}}(fmt.Errorf("not domain"), "id", "no wrap message")
	ok := Is{{.ErrorName}}(err)
	assert.True(t, ok)

	ok = errors.Is(err, &{{.ErrorName}}Error{})
	assert.True(t, ok)

	var asDomain *{{.ErrorName}}Error
	ok = errors.As(err, &asDomain)
	assert.True(t, ok)

	if asDomain.Zerror.Parent == nil {
		t.Fatal("underlying cause was not preserved")
	}

	assert.Equal(t, "not domain", asDomain.Zerror.Parent.Error())

	assert.Equalf(t, "id", asDomain.Zerror.ID, "ID is not equal")
	assert.Equalf(t, "no wrap message", asDomain.Zerror.Message, "Message is not equal")

	msg := "ID=id Message=no wrap message Parent=(not domain)"
	assert.Equal(t, msg, err.Error())

}

func TestWrappingAnother{{.ErrorName}}Error(t *testing.T) {
	err := Throw{{.ErrorName}}(nil, "id1", "msg")
	ok := Is{{.ErrorName}}(err)
	assert.True(t, ok)

	err = Throw{{.ErrorName}}(err, "id2", "msg")
	ok = Is{{.ErrorName}}(err)
	assert.True(t, ok)

	ok = errors.Is(err, &{{.ErrorName}}Error{})
	assert.True(t, ok)

	var e *{{.ErrorName}}Error
	ok = errors.As(err, &e)
	assert.True(t, ok)
	assert.Equal(t, "id2", e.Zerror.ID)

	msg := "ID=id2 Message=msg Parent=(ID=id1 Message=msg)"
	assert.Equal(t, msg, err.Error())
}