package zerrors

import (
	"errors"
	"fmt"
)

var (
	_ {{.ErrorName}} = (*{{.ErrorName}}Error)(nil)
	_ Error         = (*{{.ErrorName}}Error)(nil)
)

const {{.ErrorName}}Id = "{{.ErrorName}}"

type {{.ErrorName}} interface {
	error
	Is{{.ErrorName}}()
}

type {{.ErrorName}}Error struct {
	*Zerror
}

func Throw{{.ErrorName}}(action, kind, name, reason string) error {
	message := fmt.Sprintf("cannot %s '%s' of kind '%s': %s", action, name, kind, reason)
	return &{{.ErrorName}}Error{CreateZerror(nil, {{.ErrorName}}Id, message)}
}

func To{{.ErrorName}}(parent error, id string, message string) error {
	return &{{.ErrorName}}Error{CreateZerror(parent, id, message)}
}

func To{{.ErrorName}}f(parent error, id string, format string, a ...interface{}) error {
	return To{{.ErrorName}}(parent, id, fmt.Sprintf(format, a...))
}

func (err *{{.ErrorName}}Error) Is{{.ErrorName}}() {}

func (err *{{.ErrorName}}Error) Is(target error) bool {
	return Is{{.ErrorName}}(target)
}

func Is{{.ErrorName}}(err error) bool {
	var possibleError *{{.ErrorName}}Error
	if errors.As(err, &possibleError) {
		return true
	}
	return false
}
